@using PersonalBlog.Models;
@using BLOG.Entities;
@{
    Layout = null;
    Page.Name = "Unknown";
}

@{
    string entryExit = "Вход";
    EntityWithBlogManager entity = new EntityWithBlogManager();
}
@{
    IList<Post> allPosts = entity.getAllPosts();
    IList<Tag> tags = entity.getAllTags();
    IList<Category> categories = entity.getAllCategories();

    if (IsPost)
    {
        switch (Request.Form["search1"])
        {

            case "Найти":
                var choiceField = Request["searchByTitle"];
                Post choisenPost = allPosts.FirstOrDefault(u => u.Title == choiceField);
                if (choisenPost != null)
                {
                    Temp.selectedPostsId.Add(choisenPost.Id);
                    Response.Redirect("/showChoisenPosts");
                }
                break;

        }
        switch (Request.Form["search2"])
        {
            case "Найти":
                var choiceField = Request["searchByText"];
                IList<Post> posts = entity.getPostsByText(choiceField);

                foreach (Post post in posts)
                {
                    Temp.selectedPostsId.Add(post.Id);
                }

                Response.Redirect("/showChoisenPosts");

                break;
        }

        switch (Request.Form["choiseTag"])
        {
            case "Выбрать статьи по тегу":
                string choisenTagName = Request["tag"];
                if (choisenTagName != null)
                {
                    IList<Post> selectedPosts = entity.getPostsByTag(choisenTagName);

                    foreach (Post post in selectedPosts)
                    {
                        Temp.selectedPostsId.Add(post.Id);
                    }
                    Response.Redirect("/showChoisenPosts");
                }
                break;
        }

        switch (Request.Form["choiseCat"])
        {
            case "Выбрать статьи по категории":
                string choisenCatId = Request["category"];
                string choisenTagName = Request["tag"];
                if (choisenCatId != null)
                {
                    IList<Post> choisenPosts = entity.getAllPosts().Where(p => p.CategoryId == Convert.ToInt32(choisenCatId)).ToList();

                    foreach (Post post in choisenPosts)
                    {
                        Temp.selectedPostsId.Add(post.Id);
                    }
                    Response.Redirect("/showChoisenPosts");
                }
                break;
        }

    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("head", false)
    <link href="Content/MyCSS/hideArea.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="templatemo_wrapper">

        <div id="templatemo_menu">

            <ul>
                @if (Auth.Admin)
                {
                    <li><a href="manageHUB.cshtml">Управление</a></li>
                }
                <li><a href="recentPosts.cshtml" class="current">Статьи</a></li>
                <li><a href="about.cshtml">Обо мне</a></li>
                <li><a href="contact.cshtml">Связаться</a></li>
                <li><a href="enter.cshtml">@entryExit</a></li>
            </ul>

        </div> <!-- end of templatemo_menu -->
        <div id="templatemo_left_column">
            <div id="templatemo_header">
                <div id="site_title">
                    <h1><a href="#" target="_parent">Personal <strong>Blog</strong><span>Useful Information</span></a></h1>
                </div><!-- end of site_title -->
            </div> <!-- end of header -->
            <div id="templatemo_sidebar">
                <div id="templatemo_rss">
                    <a href="#">SUBSCRIBE NOW <br /><span>to our rss feed</span></a>
                </div>

                <form method="post" onsubmit="return validateSearchByTitle();">
                    <label for="searchByTitle">Поиск по названию:</label>
                    <input type="text" name="searchByTitle" id="searchByTitle" value="" />
                    <input type="submit" name="search1" value="Найти" />
                </form>
                <div class="cleaner_h20"></div>

                <form method="post" onsubmit="return validateSearchByText();">
                    <label for="searchByText">Поиск по тексту:</label>
                    <textarea name="searchByText" id="searchByText" rows="0" cols="0" class="required"></textarea>
                    <input type="submit" name="search2" value="Найти" />
                </form>

                <div class="cleaner_h20"></div>
                <h4>Теги</h4>
                <div class="cleaner_h10"></div>
                @if (tags.Count != 0)
                {
                    <form method="post">
                        @foreach (Tag tag in tags)
                        {
                            <input type="radio" id=@tag.Name class="hide" name="tag" value=@tag.Name>
                            <label for=@tag.Name>@tag.Name</label>
                        }
                        <input type="submit" name="choiseTag" value="Выбрать статьи по тегу" />
                    </form>
                }
                else
                {
                    <div>Нет тегов!</div>
                }

                <div class="cleaner_h20"></div>
                <h4>Категории</h4>
                <div class="cleaner_h10"></div>
                @if (categories.Count != 0)
                {
                    <form method="post">
                        @foreach (Category cat in categories)
                        {
                            <input type="radio" id=@cat.Title class="hide" name="category" value=@cat.Id>
                            <label for=@cat.Title>@cat.Title</label>
                            <br />
                        }
                        <div class="cleaner_h10"></div>
                        <input type="submit" name="choiseCat" value="Выбрать статьи по категории" >
                    </form>
                }
                else
                {
                    <div>Нет тегов!</div>
                }
                <div class="cleaner_h40"></div>

                @*<h4>Последние комментарии</h4>
        <ul class="templatemo_list">
            <li><a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a></li>
            <li><a href="http://www.flashmo.com" target="_parent">Flash Templates</a></li>
            <li><a href="http://www.flashmo.com/store" target="_parent">Premium Themes</a></li>
            <li><a href="http://www.webdesignmo.com/blog" target="_parent">Web Design Blog</a></li>
            <li><a href="http://www.koflash.com" target="_parent">Flash Web Gallery</a></li>
        </ul>*@

            </div> <!-- end of templatemo_sidebar -->

        </div> <!-- end of templatemo_left_column -->

        @RenderBody()

        <!-- end of templatemo_main -->
        <div class="cleaner_h20"></div>

        <div id="templatemo_footer">
            Copyright © @DateTime.Now.Year <a href="#">Personal Blog</a> |
        </div>

        <div class="cleaner"></div>
    </div> <!-- end of warpper -->
    <script>

        function validateSearchByText() {
            var searchByText = document.getElementById("searchByText");

            if (!searchByText.value) {
                searchByText.style.border = "2px solid red";
                return false;
            }
            return true;
        }
        function validateSearchByTitle() {
            var searchByTitle = document.getElementById("searchByTitle");

            if (!searchByTitle.value) {
                searchByTitle.style.border = "2px solid red";
                return false;
            }
            return true;
        }
-   </script>

-    @RenderSection("validate", false)
</body>
</html>
