@using PersonalBlog.Models;
@using BLOG.Entities;
@{
    Layout = "~/_mainLayout.cshtml";
    Page.Name = "Unknown";
    EntityWithBlogManager entity = new EntityWithBlogManager();
}
@{
    string errorMessage1 = null;
    string errorMessage2 = null;
    string errorMessage3 = null;

    IList<Post> posts = entity.getAllPosts();
    IList<Category> categories = entity.getAllCategories();
    IList<Tag> tags = entity.getAllTags();

    IList<Tag> postTags = new List<Tag>();


    if (IsPost)
    {
        switch (Request.Form["addPost"])
        {
            case "Добавить":
                var title = Request["title"];
                var shortDescription = Request["shortDescription"];
                var description = Request["description"];
                var dateCreate = Request["dataCreate"];
                var select1 = Request["category"];
                var select2 = Request["tag"];

                Category choisenCategory = null;
                IList<Tag> choisenTags = new List<Tag>();

                if (select1 != null)
                {
                    choisenCategory = categories.First(a => a.Id.ToString() == select1);
                }

                if (select2 != null)
                {
                    string[] split = select2.Split(new char[] { ',' });
                    for (int j = 0; j < split.Length; j++)
                    {
                        choisenTags.Add(tags.First(a => a.Id.ToString() == split[j]));
                    }
                }

                if (select1 != null && select2 != null)
                {
                    entity.AddPost(title, shortDescription, description, dateCreate, choisenCategory, choisenTags);
                    Response.Redirect(Request.RawUrl); /*Остаться на этой же странице*/
                    return;
                }
                break;
        }
        foreach (Post currentPost in posts) {
            switch (Request.Form[currentPost.Id + "changePost"])
            {
                case "Сохранить изменения":
                    var title = Request["title"];
                    var shortDescription = Request["shortDescription"];
                    var description = Request["description"];
                    var dateCreate = Request["dataCreate"];
                    var dateModified = Request["dateModified"];
                    var select1 = Request["category"];
                    var select2 = Request["tag"];

                    Category choisenCategory = null;
                    IList<Tag> choisenTags = new List<Tag>();

                    if (select1 != null)
                    {
                        choisenCategory = categories.First(a => a.Id.ToString() == select1);
                    }

                    if (select2 != null)
                    {
                        string[] split = select2.Split(new char[] { ',' });
                        for (int j = 0; j < split.Length; j++)
                        {
                            choisenTags.Add(tags.First(a => a.Id.ToString() == split[j]));
                        }
                    }

                    if (select1 != null && select2 != null)
                    {
                        entity.ChangePost(title, shortDescription, description, dateCreate, dateModified, choisenCategory, choisenTags);
                        Response.Redirect(Request.RawUrl); /*Остаться на этой же странице*/
                        return;
                    }
                    break;
            }
        }
        switch (Request.Form["deletePost"])
        {
            case "Удалить":
                var select = Request["post"];
                var deleteId = 0;
                if(select != null)
                {
                    string[] split = select.Split(new char[] {','});
                    for(int j = 0; j<split.Length; j++)
                    {
                        deleteId = int.Parse(split[j]);
                        entity.DeletePost(deleteId); 
                    }
                    Response.Redirect(Request.RawUrl); /*Остаться на этой же странице*/
                    return;
                }
                break;
        }
    }
}

@section head{
    <title>Clean Blog - Contact Page</title>
    <meta name="keywords" content="clean blog template, contact form, html css layout" />
    <meta name="description" content="Clean Blog Template - Contact Form, easy to use" />
    <link href="Content/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link href="Content/MyCSS/hideArea.css" rel="stylesheet" type="text/css" />
}
<div id="templatemo_right_column">

    <div id="templatemo_main">

        <h2>Управление статьями</h2>

        <p>Здесь вы можете добавлять, удалять, редактировать статьи. </p>

        <div class="containerForHideAreas">

            <input type="checkbox" id="hd-1" class="hide" />
            <label for="hd-1">Добавление новой статьи</label>
            <div>
                <form method="post">
                    
                    <label for="title">Название статьи:</label>
                    <br />
                    <input type="text" id="title" name="title" />
                    <div class="cleaner_h10"></div>

                    <label for="shortDescription">Краткое описание статьи:</label>
                    <br />
                    <input type="text" id="shortDescription" name="shortDescription" />
                    <div class="cleaner_h10"></div>

                    <label for="description">Содержимое статьи:</label>
                    <br />
                    <input type="text" id="description" name="description" />
                    <div class="cleaner_h10"></div>

                    <label for="dataCreate">Дата публикации:</label>
                    <br />
                    <input type="datetime" id="dataCreate" name="dataCreate" />
                    <div class="cleaner_h10"></div>


                    @if (categories.Count > 0)
                    {<label>Выбор категории:</label>
                        <br />
                        foreach (Category category in categories)
                        {
                            //i++;
                            <p><input name="category" type="radio" value=@category.Id>@category.Title</p>
                        }
                    }
                    else
                    {
                        <div>Нет категорий!</div>
                    }
                    <div class="cleaner_h10"></div>


                    @if (tags.Count > 0)
                    {<label>Выбор тегов:</label>
                        <br />
                        foreach (Tag tag in tags)
                        {
                            //i++;
                            <p><input name="tag" type="checkbox" value=@tag.Id>@tag.Name</p>
                        }
                    }
                    else
                    {
                        <div>Нет тегов!</div>
                    }
                    <div class="cleaner_h10"></div>

                    <input type="submit" class="submit_btn" name="addPost" id="addPost" value="Добавить" onsubmit="return validate();" />

                </form>
            </div>
            <br />
            <br />


            <input type="checkbox" id="hd-2" class="hide" />
            <label for="hd-2">Изменение статьи</label>
            <div class="containerForHideAreas">
                @if (posts.Count > 0)
                {
                    foreach (Post post in posts)
                    {
                        <input type="checkbox" id=@post.Id class="hide" />
                        <label for=@post.Id>@post.Title</label>
                        <div>
                            <form method="post">

                                <label for="title">Название статьи:</label>
                                <br />
                                <input type="text" id="title" name="title" value=@post.Title />
                                <div class="cleaner_h10"></div>

                                <label for="shortDescription">Краткое описание статьи:</label>
                                <br />
                                <textarea id="shortDescription" name="shortDescription" value=@post.ShortDescription rows="0" cols="0" class="required"></textarea>
                                <div class="cleaner_h10"></div>

                                <label for="description">Содержимое статьи:</label>
                                <br />
                                <textarea id="description" name="description" value=@post.Description rows="0" cols="0" class="required"></textarea>
                                <div class="cleaner_h10"></div>

                                <label for="dataCreate">Дата публикации:</label>
                                <br />
                                <input type="datetime" id="dataCreate" name="dataCreate" value=@post.DataCreate />
                                <div class="cleaner_h10"></div>

                                <label for="dataModified">Дата последнего изменения:</label>
                                <br />
                                <input type="datetime" id="dataModified" name="dataModified" value=@post.DataModified />
                                <div class="cleaner_h10"></div>

                                <label>Категория статьи:</label>
                                <br />
                                @if (categories.Count > 0)
                                {
                                    foreach (Category category in categories)
                                    {
                                        if (category.Id == post.CategoryId)
                                        {
                                            <p><input name="category" type="radio" value=@category.Id checked>@category.Title </p>
                                        }
                                        else
                                        {
                                            <p><input name="category" type="radio" value=@category.Id>@category.Title</p>
                                        }
                                    }
                                }
                                else
                                {
                                    <div>Нет категорий!</div>
                                }
                                <div class="cleaner_h10"></div>

                                <label>Теги статьи:</label>
                                <br />
                                @if (tags.Count > 0)
                                {
                                    postTags = entity.GetPostTags(post.Id);
                                    foreach (Tag tag in tags)
                                    {
                                        for (int c = 0; c < postTags.Count; c++)
                                        {
                                            if (tag.Id == postTags[c].Id)
                                            {
                                                <p><input name="tag" type="checkbox" value=@tag.Id checked style="color:darkgreen">@tag.Name</p>
                                                break;
                                            }
                                            if(c == postTags.Count-1)
                                            {
                                                <p><input name="tag" type="checkbox" value=@tag.Id>@tag.Name</p>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <div>Нет тегов!</div>
                                }
                                <div class="cleaner_h10"></div>

                                <input type="submit" class="submit_btn" name=@(post.Id + "changePost") id="changePost" value="Сохранить изменения" @*onsubmit="return validate();"*@ />

                            </form>
                        </div>
                     }
                 }
                 else
                 {
                    <div>Нет статей!</div>
                 }
            </div>
            <br />
            <br />


            <input type="checkbox" id="hd-3" class="hide" />
            <label for="hd-3">Удаление статьи</label>
            <div>
                <form method="post">
                    @if (posts.Count != 0) {
                        foreach (Post post in posts)
                        {
                        <p><input name="post" type="checkbox" value=@post.Id checked style="color:darkgreen">@post.Title</p>
                        }
                    <div class="cleaner_h10"></div>
                    <input type="submit" class="submit_btn" name="deletePost" id="deletePost" value="Удалить" @*onsubmit="return validate();"*@ />
                    }
                    else {<div>Нет статей!</div> }
                </form>
            </div>
            <br />
            <br />

            <input type="checkbox" id="hd-4" class="hide" />
            <label for="hd-4">Посмотреть информацию о статьях</label>
            <div>
                jQuery — библиотека JavaScript, фокусирующаяся на взаимодействии JavaScript и HTML. Библиотека jQuery помогает легко получать доступ к любому элементу DOM, обращаться к атрибутам и содержимому элементов DOM, манипулировать ими. Также библиотека jQuery предоставляет удобный API для работы с AJAX.
            </div>
        </div>

    </div> <!-- end of main -->
    <div class="cleaner"></div>
</div> <!-- end of right column -->
