@using PersonalBlog.Models;
@using BLOG.Entities;
@{
    Layout = "~/_mainLayout.cshtml";
    Page.Name = "Unknown";
    EntityWithBlogManager entity = new EntityWithBlogManager();
}
@{
    IList<User> users = entity.GetAllUsers();
    int userId = Temp.selectedUserId;
    bool showComments = Temp.showComments;
    bool showMeta = Temp.showMeta;

    if (IsPost)
    {
        var selectUser = Request["user"];
        
        //int commentId = entity.GetUserById(userId).Id;
        if (selectUser != null) {
            Temp.selectedUserId = int.Parse(selectUser);
            int id = int.Parse(selectUser);
            switch (Request.Form["btn"])
            {
                case "Удалить":
                    entity.DeleteUser(id);
                    Response.Redirect(Request.RawUrl);
                    break;
                case "Добавить в черный список":
                    entity.AddBlackList(id);
                    Response.Redirect(Request.RawUrl);
                    break;
                case "Убрать из черного списка":
                    entity.RemoveBlackList(id);
                    Response.Redirect(Request.RawUrl);
                    break;
                case "Комментарии пользователя":
                    Temp.showComments = true;
                    break;
                case "Информация о пользователе":
                    Temp.showMeta = true;
                    break;
            }
            Response.Redirect(Request.RawUrl); /*Остаться на этой же странице*/
            return;
        }
    }
}

@section head{
    <title>Clean Blog - Contact Page</title>
    <meta name="keywords" content="clean blog template, contact form, html css layout" />
    <meta name="description" content="Clean Blog Template - Contact Form, easy to use" />
    <link href="Content/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link href="Content/MyCSS/hideArea.css" rel="stylesheet" type="text/css" />
}
<div id="templatemo_right_column">

    <div id="templatemo_main">
    <em></em>

        <h2>Управление пользователями</h2>
        <form method="post">

            @if (users.Count > 0)
            {<div>
                    Выберите пользователя
                </div>
                foreach (User user in users)
                {
                    <p>
                        @if (entity.CheckBlackList(user.Id))
                        {
                            <input type="radio" id=@user.Id @*class="hide"*@ name="user" value=@user.Id />
                            <label for="@user.Id" style="background-color:darkslategrey; color:white">
                                <strong>Логин:</strong>
                                @user.Login
                                <strong>Пароль:</strong>
                                | @user.Password
                                <strong>Дата регистрации:</strong>
                                | @user.DataRegistration.ToString("dd:MM:yyyy")
                            </label>
                        }
                        else
                        {
                            <input type="radio" id=@user.Id @*class="hide"*@ name="user" value=@user.Id />
                            <label for="@user.Id">
                                <strong>Логин:</strong>
                                @user.Login |
                                <strong>Пароль:</strong>
                                @user.Password |
                                <strong>Дата регистрации:</strong>
                                @user.DataRegistration.ToString("dd:MM:yyyy")
                            </label>
                        }
                    </p>
                }
                <input type="submit" name="btn" value="Удалить" />
                <input type="submit" name="btn" value="Добавить в черный список" />
                <input type="submit" name="btn" value="Убрать из черного списка" />
                <input type="submit" name="btn" value="Комментарии пользователя" />
                <input type="submit" name="btn" value="Информация о пользователе" />
                <div>
                    @if (showComments)
                    {
                        IList<PostComment> comments = entity.GetAllCommentsOfUser(userId);
                        <strong>Комментарии пользователя:</strong>
                        <div class="cleaner_h10"></div>
                        if (comments.Count != 0)
                        {
                            foreach (PostComment comment in comments)
                            {<div>
                                    <strong>Дата написания:</strong>
                                    @comment.DataCreate
                                    <strong>Дата изменения:</strong>
                                    | @comment.DataModified
                                    <br />
                                    @comment.Description
                                </div>
                            }
                        }
                        else
                        {
                            <div>
                                Этот пользователь не оставлял комментариев.
                            </div>
                        }
                        Temp.showComments = false;
                        Temp.selectedUserId = -1;
                    }
                </div>
                <div>
                    @if (showMeta)
                    {
                        User u = entity.GetUserById(userId);
                        int metaId = u.MetaId;
                        MetaAboutUser userInfo = entity.GetMetaAboutUser(metaId);
                        <strong>Информация о пользователе:</strong>
                        <div class="cleaner_h10"></div>
                        if (userInfo != null)
                        {
                            <div>
                                <strong>Дата рождения:</strong>
                                @userInfo.DateBirth.ToString("dd:MM:yyyy")
                            </div>
                            <div>
                                <strong>Возраст:</strong>
                                @userInfo.Age
                            </div>
                            <div>
                                <strong>Общая инфа:</strong>
                                @userInfo.Info
                            </div>
                            <div class="cleaner_h10"></div>
                        }
                        else
                        {
                            <div>Нет информации о пользователе!</div>
                        }
                        Temp.showMeta = false;
                        Temp.selectedUserId = -1;
                    }
                </div>
            }
            else
            {
                <div>Нет пользователей!</div>
            }
        </form>
    </div> <!-- end of main -->
    <div class="cleaner"></div>
</div> <!-- end of right column -->